@using Microsoft.AspNetCore.Mvc.RazorPages
@using WebBanHang.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Mục Sản Phẩm</h2>
<p>
    <a asp-action="ThemSanPhamMoi">Create New </a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
    <tr>
        
        <th>Tên sản phẩm</th>
        
        <th>Mã chất liệu </th>
        
        <th>Mã hàng sản xuất</th>
        <th>Mã nước sản xuất</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            
            @*<td>@Html.DisplayFor(modelItem => item.TenSp)</td>
            <td>@Html.DisplayFor(modelItem => item.DoNoi)</td>
            <td>@Html.DisplayFor(modelItem => item.ThoiGianBaoHanh)</td> 
            <td>@Html.DisplayFor(modelItem => item.GiaLonNhat)</td>
            <td>@Html.DisplayFor(modelItem => item.GiaNhoNhat)</td>*@
            <!-- Add other fields as you need -->
             <td>@Html.DisplayFor(modelItem => item.TenSp)</td>
             @* <td>@Html.DisplayFor(modelItem => item.Model)</td>*@
              <td>@Html.DisplayFor(modelItem => item.MaChatLieu)</td> 
              <td>@Html.DisplayFor(modelItem => item.MaHangSx)</td>
             <td>@Html.DisplayFor(modelItem => item.MaNuocSx)</td>
            <td><a asp-action="SuaSanPham" asp-route-maSanPham="@item.MaSp" >Edtit</a><a> |  Detail</a><a asp-action="XoaSanPham" asp-route-maSanPham="@item.MaSp"> | Delete</a></td>
            
        </tr>
    }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("DanhMucSanPham",new {page = page}),new 
    X.PagedList.Web.Common.PagedListRenderOptions()
{
    LiElementClasses = new List<String> {"page-item"},PageClasses = new List<string>{"page-link"}
})

